.code {
    white-space: pre;
}

p {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
/* overrides vscodes style reset, displays as if inside web browser */
ul, ol {
    list-style: initial !important;
    margin-left: 10px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
}

.prompt-input {
    outline: none;
    word-wrap: break-word;
    white-space: break-spaces;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
    position: relative;
    outline: 2px solid transparent;
    outline-offset: 2px;
    overflow: hidden;
    margin-top: -.25rem;
}

.prompt-wrapper {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: var(--vscode-input-background,rgb(45 45 45));
    padding-left: .5rem;
    padding-right: .5rem;
    resize: none;
    border-radius: 5px;
    margin: 0px;
    height: auto;
    width: calc(100%);
    color: var(--vscode-editor-foreground,#fff);
    z-index: 1;
    border: 0.5px solid var(--vscode-input-border,#999998);
    outline: none;
    font-size: 14px;
}

input {
    appearance: none; /* For modern browsers */
    -webkit-appearance: none; /* For WebKit browsers */
    -moz-appearance: none; /* For Firefox */
    border: none;
    padding: 0;
    margin: 0;
    background: none;
    box-shadow: none;
    outline: none;
    word-wrap: break-word;
    white-space: break-spaces;
    width: 100%; /* Make input resize according to parent */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

input:focus {
    outline: none;
    border: none; /* Optional: If you want to remove any border as well */
}